T_212_DOMAIN="https://demo.trading212.com/api/v0"
T_212_API_KEY="YOUR_API_KEY_HERE"
T_212_API_SECRET="YOUR_API_SECRET_HERE"

NBP_DOMAIN="https://api.nbp.pl/api"

PG_PASSWORD="postgres"
PG_HOST="host.docker.internal"
PG_PORT="54322"
PG_USERNAME="postgres"
PG_DB="trading_data_db"