.env

212_dashboard.pbit

raw_data/*
!raw_data/.gitkeep

clean_data/*
!clean_data/.gitkeep

gold_data/*
!gold_data/.gitkeep

mock_data/*
!mock_data/mock_cash.json
!mock_data/mock_positions.json

logs/*
!logs/.gitkeep


__pycache__/
*.py[cod]
*$py.class
*.so

venv/
.venv/
env/

.vscode/
.idea/
.DS_Store
Thumbs.db